.course-contain{
    background-color: #f8f9fa;
    }
.course-contain-1{
        
        padding-top: 20px;
        display: flex;
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
    }
.course-catagories{
        width: 20%;
        padding-left: 10px;
        padding-right: 10px;
    }
.catagories-name{
        font-weight: 700;
        font-size: 1.1rem;
        color: #464646;
        line-height: 24px;
    }
.course-list{
        width: 80%;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-wrap: wrap;
        
    }
.course-1{
        width: 30%;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
        margin-right:20px;
        margin-bottom: 20px;
    }
.image-course{
        width: 100%;
        height:200px;
    }
.name-course{
        font-weight: 700;
        font-size: 1.1rem;
        color: #464646;
        line-height: 24px;
    
    }
.video-contain{
        background-color: #f8f9fa;
        margin-bottom: 20px;
    }
.video-contain-1{
            
        padding-top: 20px;
        display: flex;
        
        margin-left: auto;
        margin-right: auto;
    }
.video{
        width: 65%;
        padding-left: 20px;
        padding-right: 20px;
    }
.list-video{
        width: 25%;
        padding-left: 10px;
        padding-right: 10px;
        overflow: auto;
        height: 450px;
    }
.name-video{
        cursor: pointer;
        list-style: none;
        padding-bottom: 20px;
        padding-left: 20px;
        font-weight: 700;
        color: #29303b;
        border: 1px solid #dedfe0;
        
    }